<ion-header>
  <ion-toolbar color="primary">
    <ion-title><b>cadastro</b></ion-title>
    <ion-buttons slot="end">
      <a (click)="voltar()"><b>Voltar</b></a>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="fundo">

  <div class="caixa-login">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="campo.usuario" (ionChange)="apagarErro()" name="usuario"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" [(ngModel)]="campo.senha" (ionChange)="apagarErro()" name="senha"></ion-input>
    </ion-item>
    <p *ngIf="erro != ''" style="color: red;">{{erro}}</p>

    <ion-button expand="full" (click)="fazerCadastro()">Fazer Cadastro</ion-button>

  </div>  
</ion-content>
