ion-list{
    background-color: #00BFFF;
    padding: 0px;
  }
  
  ion-card{
    background-color: #0088ff;
    padding: 0px;
    width: 100%;
    margin: 0%;
  }
  
  .fundo{
    padding: 0px;
  }
  
  ion-card-header{
    padding: 0px;
  }
  
  b{
    color: white;
  }